# =============== #
# Unity generated #
# =============== #
TestProject/[Tt]emp/
TestProject/[Oo]bj/
TestProject/[Bb]uild
/TestProject/[Ll]ibrary/
TestProject/sysinfo.txt
TestProject/*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/TestProject/*.userprefs
/TestProject/*.csproj
/TestProject/*.pidb
/TestProject/*.suo
/TestProject/*.sln*
/TestProject/*.user
/TestProject/*.unityproj
/TestProject/*.booproj
/TestProject/.idea*/
 
# ============ #
# OS generated #
# ============ #
TestProject/.DS_Store*
TestProject/._*
TestProject/.Spotlight-V100
TestProject/.Trashes
TestProject/ehthumbs.db
TestProject/[Tt]humbs.db
TestProject/[Dd]esktop.ini